.item-info {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 90%;
  height: 300px;
  border: 1px solid #999;
  border-radius: 8px;
}
@media (min-width: 481px) {
  .item-info {
    width: 420px;
  }
}
.item-info .content_and_buttons {
  flex: 1;
  display: flex;
}
.item-info .content_and_buttons .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.item-info .content_and_buttons .content .logo_and_title {
  flex-basis: 64px;
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid lightgray;
  display: flex;
}
.item-info .content_and_buttons .content .logo_and_title .logo {
  flex-basis: 64px;
  width: 64px;
  height: 64px;
  border-radius: 8px;
}
.item-info .content_and_buttons .content .logo_and_title .logo img {
  width: 64px;
  height: 64px;
}
.item-info .content_and_buttons .content .logo_and_title .logo span {
  height: 64px;
  width: 64px;
  overflow: hidden;
  font-size: 60px;
  line-height: 64px;
  text-align: center;
  color: gray;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.item-info .content_and_buttons .content .logo_and_title .logo span.disabled {
  opacity: 0 !important;
  cursor: default !important;
}
.item-info .content_and_buttons .content .logo_and_title .logo span:hover {
  opacity: 0.4;
}
.item-info .content_and_buttons .content .logo_and_title .title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}
.item-info .content_and_buttons .content .logo_and_title .title #title {
  font-size: 28px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.item-info .content_and_buttons .content .description {
  flex: 1;
  padding: 8px;
}
.item-info .content_and_buttons .content .description textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}
.item-info .content_and_buttons .buttons {
  flex-basis: 40px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
}
.item-info .content_and_buttons .buttons span {
  margin: 10px auto;
  color: gray;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid white;
}
.item-info .content_and_buttons .buttons span:hover {
  border: 1px solid lightgray;
}
.item-info .footer {
  flex-basis: 64px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 28px;
}
.item-info .footer div {
  margin: auto 0;
}
.item-info .footer .date input {
  font-size: 20px;
  color: #999999;
  border: none;
  outline: none;
}
.item-info .footer .amount {
  font-weight: bold;
  position: relative;
  flex-basis: 200px;
  text-align: right;
}
.item-info .footer .amount input {
  width: 100%;
  text-align: right;
  opacity: 0;
  position: absolute;
  left: 0;
  outline: none;
  border: none;
}
.item-info .footer .amount input:focus {
  opacity: 1;
}